.menu-btn {
    display: flex;
    background: none;
    flex-direction: column;
    padding: 4px;
    gap: 5px;
    border: none;
    cursor: pointer;
}

.menu-btn span {
    display: block;
    width: 22px;
    height: 2px;
    background: black;
    border-radius: 2px;
    transition: background.2s;
}

.topbar-title {
    font-size: 17px;
    font-weight: bold;
}

.nowShowing img {
    max-width: 375px;
    height: 812px;
}

.toggleSwitch {
    position: relative;
    width: 48px;
    height: 26px;
    cursor: pointer;
}


.imageContiner__image {
    position: absolute;
    width: 200px;
    height: 300px;

    border-radius: 5px;
}

.toggleSwitch input {
    width: 1px;
    height: 1px;
    opacity: 0;
}

.toggleSwitch__base {
    display: flex;
    justify-content: start;
    padding: 0.05rem;
    width: 2rem;
    height: 1rem;
    background-color: lightgray;
    border-radius: 0.5rem;
    transition: justify-content 200ms ease;

}

.toggleSwitch__toggle {
    width: 0.9rem;
    height: 0.9rem;
    background-color: white;
    border-radius: 50%;
}

.toggleSwitch input:checked+.toggleSwitch__base {
    justify-content: end;
}